<ng-template #privacyPolicy let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Privacy Policy</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h5>Why use Google Analytics?</h5>
    <p>Like many other website developers, I use Google Analytics on https://domenick97.github.io/Bingo/. Google
      Analytics is software that fetchs data about my visitors (you) and with it I use the data to improve my site to
      better them.</p>
    <h5>What does Google Analytics record?</h5>
    <p>Google Analytics records what website you came from to get here, how long you stay here for, what kind of
      computer you're using, and much more anonymous infromation.</p>
    <p>With this, all of my activity falls within the bounds of the /Google Analytics Terms of Service/.</p>
    <h5>Want to opt out of tracking?</h5>
    <p>Refer to Google's Privacy and Terms page to learn more about how to opt out of Google's advertising tracking
      cookie.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<footer>
  <div class="container-fluid">
    <div class="footer-content">
      <p>Check out other projects I have worked on</p>
    </div>

    <div class="footer-content" id="links">
      <a class="link-image" href="https://github.com/Domenick97" target="_blank" id="first"><img
        src="../assets/github.png" alt="GitHub"/></a>
      <a class="link-image" href="https://linkedin.com/in/domenickd" target="_blank">
        <img src="../assets/lin.png" alt="LinkedIn"/></a>
    </div><br/>

    <div class="footer-content">
      <p><span id="privacy-policy-toggle"
                              (click)="openPrivacyPolicyModal(privacyPolicy)">Privacy Policy</span><span
        style="color:#444"> |</span> &copy; Copyright 2017</p>
    </div>
  </div>
</footer>
