footer {
  padding: 10px;
  /*background-color: #66686b;*/
  background-color: #006e90;
  text-align: center;
}

#privacy-policy-toggle {
  color: #fff;
}

#privacy-policy-toggle:hover {
  cursor: pointer;
  color: #999;
}

.footer-content {
  display: inline-block;
  color: #fff;
}

.link-image {
  margin: 5px;
  width: 18px;
  height: 18px;
}

#links {
  margin-left: 15px;
}
