html{
	background-color: #fafafa;
}

body{
	background-color: #fff66f;
	margin: 0em;
	font-family: Arial;
	width: 100%;
	padding: 0px;
}



#balls {
	width: 96%;
	height: 1.2em;
	background-color: #aaaaaa;
	float: left;
	margin: 1%;
	padding-left: 2%;
	border-radius: 5px 5px 5px 5px;
	padding-bottom: 1%;
	padding-top: 1%;
	font-weight: 600;
	font-size: 1.2em;
}

.tableHeader{
	font-weight: bold;
}

td {
	padding: 1em;
	border: 2px #555 solid;
	text-align: center;
	font-size: 1em;
}

#cards {
	width: 100%;
	padding: 0%;
	font-family: arial;

}

#userCard {
	width: 40%;
	padding-top: 2%;
	margin-right: 5%;
	margin-left: 5%;
	background-color: #ddf69f;
	float: left;
	text-align: center;
	vertical-align: middle;
	font-size: 1.5em;
	border-radius: 1em 1em 1em 1em;
	box-shadow: .25em .25em #555555;
}

#oppCard {
	width: 40%;
	float: left;
	padding-top: 2%;
	margin-right: 5%;
	margin-left: 5%;
	text-align: center;
	vertical-align: middle;
	font-size: 1.5em;
	background-color: #ffaa88;
	border-radius: 1em 1em 1em 1em;
	box-shadow: .25em .25em #555555;
}

#ofreeSpace{
	background-color: #888888;
}

#buttons {
	width: 96%;
	background-color: #aaaaaa;
	float: left;
	margin: 1%;
	padding-left: 2%;
	border-radius: 5px 5px 5px 5px;
	padding-bottom: 1%;
	padding-top: 1%;
}

#continue{
	margin-left: auto;
	margin-right: auto;
}

.cell:hover{
	background-color: #dddddd;
}

.cell:visited{
	background-color: #dddddd;
}
table {
	margin-left: auto;
	margin-right: auto;
}​
